{% extends "admin/dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<section class="main--content">
    <div class="row gutter-20">
        <div class="col-md-12">
            <!-- Panel Start -->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Ajouter un Utilisateur</h3>
                </div>
                <div class="panel-content">
                    <form action="" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>
                                    {{form.prenoms|as_crispy_field}}
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    {{form.nom|as_crispy_field}}
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    {{form.adresse|as_crispy_field}}
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    {{form.email|as_crispy_field}}
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    {{form.tel|as_crispy_field}}
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    {{form.profession|as_crispy_field}}
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    {{form.sexe|as_crispy_field}}
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    {{form.nature_client|as_crispy_field}}
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    {{form.departement|as_crispy_field}}
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    {{form.niveau|as_crispy_field}}
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    {{form.matricule|as_crispy_field}}
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    {{form.role|as_crispy_field}}
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    {{form.photo|as_crispy_field}}
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    {{form.pays|as_crispy_field}}
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    {{form.password1|as_crispy_field}}
                                </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    {{form.password2|as_crispy_field}}
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-md btn-rounded btn-success">Enregistrer</button>
                        <button type="reset" class="btn btn-md btn-rounded btn-outline-secondary">Annuler</button>
                    </form>
                </div>
            </div>
            <!-- Panel End -->
        </div>
    </div>
</section>
{% endblock content %}