{% extends "index.html" %}
{% load static %}
{% block content %}
<div class="page-content bg-grey">
    <section class="content-inner-1 border-bottom">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="title">Tous les Livres de la Catégorie {{cate}} </h4>
            </div>
            <div class="filter-area m-b30">
                <div class="grid-area">
                    <div class="shop-tab">
                        <ul class="nav text-center product-filter justify-content-end" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'categorie_livre' cate.pk %}">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3 11H10C10.2652 11 10.5196 10.8946 10.7071 10.7071C10.8946 10.5196 11 10.2652 11 10V3C11 2.73478 10.8946 2.48043 10.7071 2.29289C10.5196 2.10536 10.2652 2 10 2H3C2.73478 2 2.48043 2.10536 2.29289 2.29289C2.10536 2.48043 2 2.73478 2 3V10C2 10.2652 2.10536 10.5196 2.29289 10.7071C2.48043 10.8946 2.73478 11 3 11ZM4 4H9V9H4V4Z" fill="#AAAAAA"></path>
                                    <path d="M14 11H21C21.2652 11 21.5196 10.8946 21.7071 10.7071C21.8946 10.5196 22 10.2652 22 10V3C22 2.73478 21.8946 2.48043 21.7071 2.29289C21.5196 2.10536 21.2652 2 21 2H14C13.7348 2 13.4804 2.10536 13.2929 2.29289C13.1054 2.48043 13 2.73478 13 3V10C13 10.2652 13.1054 10.5196 13.2929 10.7071C13.4804 10.8946 13.7348 11 14 11ZM15 4H20V9H15V4Z" fill="#AAAAAA"></path>
                                    <path d="M3 22H10C10.2652 22 10.5196 21.8946 10.7071 21.7071C10.8946 21.5196 11 21.2652 11 21V14C11 13.7348 10.8946 13.4804 10.7071 13.2929C10.5196 13.1054 10.2652 13 10 13H3C2.73478 13 2.48043 13.1054 2.29289 13.2929C2.10536 13.4804 2 13.7348 2 14V21C2 21.2652 2.10536 21.5196 2.29289 21.7071C2.48043 21.8946 2.73478 22 3 22ZM4 15H9V20H4V15Z" fill="#AAAAAA"></path>
                                    <path d="M14 22H21C21.2652 22 21.5196 21.8946 21.7071 21.7071C21.8946 21.5196 22 21.2652 22 21V14C22 13.7348 21.8946 13.4804 21.7071 13.2929C21.5196 13.1054 21.2652 13 21 13H14C13.7348 13 13.4804 13.1054 13.2929 13.2929C13.1054 13.4804 13 13.7348 13 14V21C13 21.2652 13.1054 21.5196 13.2929 21.7071C13.4804 21.8946 13.7348 22 14 22ZM15 15H20V20H15V15Z" fill="#AAAAAA"></path>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="category">
                    <div class="filter-category">
                        <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-list me-2"></i>
                            Categories
                        </a>
                    </div>
                </div>
            </div>	
            <div class="acod-content collapse" id="collapseExample">
                <div class="widget widget_services">
                    {% for cat_p in categorie_p %}
                    {% if cat_p.libelle_categ %}
                    <div class="form-check search-content">
                        <input class="form-check-input" type="checkbox" value="" id="productCheckBox1">
                        <label class="form-check-label" for="productCheckBox1">
                            {{cat_p.libelle_categ}}
                        </label>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            
            <div class="row">
                {% for livre in categorie_livre %}
                <div class="col-md-12 col-sm-12">
                    <div class="dz-shop-card style-2">
                        <div class="dz-media">
                            {% if livre.photo_livre %}
                            <img src=" {{ livre.photo_livre.url }} " alt="book">
                            <!-- <img src="images/books/grid/book12.jpg" alt="book"> -->
                            {% endif %}								
                        </div>
                        <div class="dz-content">
                            <div class="dz-header">
                                <div>
                                    <ul class="dz-tags">
                                        <li><a href=""> {{livre.titre}} ,</a></li>
                                        <li><a href="">{{livre.sous_titre}},</a></li>
                                        <li><a href="">{{livre.categorie}}</a></li>
                                    </ul>
                                    <h4 class="title mb-0"><a href="">{{livre.titre}} de {{livre.auteur}}</a></h4>
                                </div>
                                <div class="price">
                                    <span class="price-num text-primary">{{livre.prix_vente}} GNF</span>
                                    <del>{{livre.prix_avant}} GNF</del>
                                </div>
                            </div>
                            
                            <div class="dz-body">
                                <div class="dz-rating-box">
                                    <div>
                                        <p class="dz-para">{{livre.resume}}.</p>
                                        <div>
                                            <a href="pricing.html" class="badge">Obtenez 20% de réduction pour aujourd'hui</a>
                                            <a href="pricing.html" class="badge">50 % de réduction</a>
                                            <a href="pricing.html" class="badge next-badge">Voir plus de 2 promotions</a>
                                        </div>
                                    </div>
                                    <div class="review-num">
                                        <h4>4.0</h4>
                                        <ul class="dz-rating">
                                            <li><i class="flaticon-star text-yellow"></i></li>	
                                            <li><i class="flaticon-star text-yellow"></i></li>	
                                            <li><i class="flaticon-star text-yellow"></i></li>	
                                            <li><i class="flaticon-star text-yellow"></i></li>		
                                            <li><i class="flaticon-star text-muted"></i></li>		
                                        </ul>
                                        <span><a href="javascript:void(0);"> 235 avis</a></span>
                                    </div>
                                </div>
                                <div class="rate">
                                    <ul class="book-info">
                                        <li><span>Ecrit par</span>{{livre.auteur}}</li>
                                        <li><span>Publié</span>Bibliothèque UGANC</li>
                                        <li><span>Année</span>2024</li>
                                    </ul>
                                    <div class="d-flex">
                                        <a href="shop-cart.html" class="btn btn-secondary btnhover btnhover2"><i class="flaticon-shopping-cart-1 m-r10"></i>Ajouter au panier</a>
                                        <div class="bookmark-btn style-1">
                                            <input class="form-check-input" type="checkbox" id="flexCheckDefault1">
                                            <label class="form-check-label" for="flexCheckDefault1">
                                                <i class="flaticon-heart"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="row page mt-0">
                <div class="col-md-6">
                    <p class="page-text">Showing 12 from 50 data</p>
                </div>
                <div class="col-md-6">
                    <nav aria-label="Blog Pagination">
                    <ul class="pagination style-1 p-t20">
                        <li class="page-item"><a class="page-link prev" href="javascript:void(0);">Prev</a></li>
                        <li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                        <li class="page-item"><a class="page-link next" href="javascript:void(0);">Next</a></li>
                    </ul>
                </nav>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}