{% block subject %}
{% load i18n %}
{{ _("Password Reset") }}
{% endblock %}

{% block text %}
{% load i18n %}
{% autoescape on %}
{% blocktrans %}
Hello,

You're receiving this email because you requested a password reset for your account at {{ site_name }}.

Please go to the following page and choose a new password:
{{ http }}://{{127.0.0.1:8000}}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.email }}

Thanks for using our site!

The {{ RISTEL, equipe technique }} team
{% endblocktrans %}
{% endautoescape %}
{% endblock %}
